.notification {
	color: green;
	background: lightgrey;
	font-size: 20px;
	border-style: solid;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 10px;
}

.notification.error {
	color: red;
}

.blog {
	padding-top: 10;
	padding-left: 2;
	border: 'solid';
	border-width: 1px;
	margin-bottom: 5;
}

.blog-title {
	font-weight: bold;
	margin-right: 5px;
}